/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: "Times New Roman", Times, serif;
}
.table {
  text-align: center;
  }

.btn {
  border-radius: 0%;
}

.left-date, .right-date {
  border-radius: 0%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.edit {
  margin-left: 2px;
  margin-right: 2px;
}

.row {
  margin: 5px 0px;
}

.search-text-fields {
  border-radius: 0%;
}

.date-row {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}


.thumbnail {
  width: 150px;
  heigth: 400px;
}

.bquote {
  min-height: 210px;
  text-align: center;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
   margin-bottom:50px;
}

#search-form-titles > div.row.date-row > div > input.btn.btn-primary.btn-sm {
  height: 34px;
  width: 70px;
}

.form-control.carousel-custom {
  width: 63px;

  font-size: 16px;
}

.carousel-control.left {
  color: black;
}

.carousel-control.right {
  color: black;
  background-image: none;
  top: -13px;

}
.carousel-control.left {
  color: black;
  background-image: none;
  top: -13px;
}

.col-md-offset-3.arrows-and-stuff {
  margin-left:23%;
}

.download-button {
   margin-right:22%;
}





