<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Обновления:
    </p>
    <% if @update_list.empty? %>
    	<br>
    	Изменений не найдено
    <% else %>
    <% @update_list.each do |update| %>
    <br>
	<%= link_to update.title, update %>
	<% end %>
	<% end %>
  </body>
</html>